header {
  flex-direction: column;
  align-items: center;
}
header .shuffle {
  width: 15%;
}
header .shuffle:focus {
  transform: scale(0.8);
}

main .meal {
  cursor: pointer;
}
main .meal:hover {
  transform: scale(0.9);
}
main .display {
  display: none;
}